<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="studkotlindroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name="com.example.studkotlindroid.numbersList.NumbersListComposed"
            android:exported="true"
            android:label="@string/title_activity_numbers_list_composed"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name="com.example.studkotlindroid.ComposeUi.ComposedUIActivity"
            android:exported="true"
            android:label="@string/title_activity_composed_uiactivity"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity android:name="com.example.studkotlindroid.trueMVVM.DataBinded" />
        <activity android:name="com.example.studkotlindroid.mvvmLie.Mvvm" />
        <activity android:name="com.example.studkotlindroid.ThirdActivity" />
        <activity android:name="com.example.studkotlindroid.SecondActivity" />
        <activity android:name="com.example.studkotlindroid.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>